<nav class="navbar">
  <span id="add_party"><a href="/parties/new">Add A Party</a></span>
  <span id="chef_view"><a href="/chef">Chef View</a></span>
</nav>

<div class="tables">
  <% @parties.each do |party| %>
    <div class="indiv_table <%=party.paid%>">
      <a href="/parties/<%=party.id%>"><h3 class="table_num cf"><%= party.table_number %></h3></a>
      <span class="guests_num"><%= party.number_of_guests %> GUESTS</span>
    </div>
  <% end %>
</div>

<footer class="footer">
  <span id="view_menu"><a href="/foods">Menu</a></span>
  <span id="add_food"><a href="/foods/new">Add Menu Item</a></span>
</footer>


