body {
  text-align: center;
  table-layout: 
}

.indiv_table {
  height: 150px;
  width: 150px;
  margin: 25px;
  border-radius: 100%;
  float: left;
  display: inline-block;
}

.indiv_table.true {
    background-color: green;
}

.indiv_table.false {
    background-color: red;
}

.table_num {
  margin-top: 30px;
  font-size: 4em;
}

.guests_num {
  margin-top: -20px;
}

table {
  margin: auto;
}

td {
  width: 120px;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}