body {
  text-align: center;
  table-layout: 
}

.indiv_table {
  height: 50px;
  width: 50px;
  margin: 25px;
}

.indiv_table.true {
    background-color: green;
}

.indiv_table.false {
    background-color: red;
}

table {
  margin: auto;
}

td {
  width: 120px;
}
