<h1>ITEMS TO PREPARE</h1>
<table>
  <th>QUEUE</th>
  <th>ITEM</th>
  <th>TIME ENTERED</th>
  <% @orders.each do |order| %>
    <tr>
       <td>
        <%=order.id%>
      </td>
      <td>
        <%=Food.find(order.food_id).name%>
      </td>
      <td>
        <%=order.entered%>
      </td>
      <td>
        <form action="/chef" method="post">
          <input type="hidden" name="id" value="<%=order.id%>">
          <input type="hidden" name="fired" value="true">
          <input type="submit" value="DONE!" />
        </form>
      </td>
    </tr>
  <% end %>
</table>
<a href="/">HOME VIEW</a>
