<h1>ITEMS TO PREPARE</h1>
<table>
  <th>QUEUE</th>
  <th>ITEM</th>
  <th>TIME ENTERED</th>
  <% @orders.each do |order| %>
    <tr>
      <td>
        <%=order.id%>
      </td>
      <td>
        <%=Food.find(order.food_id).name%>
      </td>
      <td>
        <!-- food.time -->
        someday this will say the time
      </td>
      <td>
        <a href="">DONE!</a>
      </td>
    </tr>
  <% end %>
</table>