<h1>ITEMS TO PREPARE</h1>
<table>
  <th>QUEUE</th>
  <th>ITEM</th>
  <th>TIME ENTERED</th>
  <% @orders.each do |order| %>
    <tr>
       <td>
        <%=order.id%>
      </td>
      <td>
        <%=Food.find(order.food_id).name%>
      </td>
      <td>
        <!-- food.time -->
        someday this will say the time
      </td>
      <td>
        <form action="/chef" method="post">
          <input type="hidden" name="order_id" value="<%=order.id%>">
          <input type="submit" value="DONE!" />
        </form>
        <a href="">DONE!</a>
      </td>
    </tr>
  <% end %>
  <a href="">RESET QUEUE</a>
  <a href="/">HOME VIEW</a>
</table>