<h1>ADD A NEW PARTY</h1>
<form action="/parties" method="post">
  <input type="text" name="party[table_number]" placeholder="table number" />
  <input type="text" name="party[number_of_guests]" placeholder="number of guests" />
  <input type="hidden" name="party[paid]" value="false" />
  <input type="submit" value="ADD NEW PARTY">
</form>
<a href="/">BACK TO HOME</a>