<h1 class="add_party">ADD A NEW PARTY</h1>
<form action="/" method="post">
  <input class="new_party" type="text" name="party[table_number]" placeholder="table number" />
  <br>
  <input class="new_party" type="text" name="party[number_of_guests]" placeholder="number of guests" />
  <br><br>
  <input type="hidden" name="party[paid]" value="false" />
  <input type="submit" value="ADD!">
</form>
<br>
<br>
<a class="add_party" href="/">BACK TO HOME</a>