<table>
  <th>order id</th>
  <th>food_id</th>
  <th>party_id</th>
  <% @orders.each do |order| %>
    <tr>
      <td>
        <a href="/orders/<%=order.id%>"><%=order.id%></a>
      </td>
      <td>
        <%=Food.find(order.food_id).name%>
      </td>
      <td>
        <%=order.party_id%>
      </td>
    </tr>
  <% end %>
</table>

<a href="/parties">back to parties</a>