<h1>Orders for Table Number <%=@table_number%></h1>
<table>
  <th>Food</th>
  <th>Order Id</th>
  <% @orders.each do |order| %>
    <tr>
      <td>
        <a href="/orders/<%=order.id%>"><%=Food.find(order.food_id).name%></a>
      </td>
      <td>
        <%=order.id%>
      </td>
    </tr>
  <% end %>
</table>

<a href="/parties">back to parties</a>